<h1 class="white_text">About us:</h1>
<p class="white_text">aCreation is an idea about making projects from basic ideas and share them with others.</p>
<p class="white_text">The only current member is Darclander which can be reached on discord (Darclander#3340)</p>