<h1>Star Background</h1>
    <p class="white_text">
        Star Background is a very simple application which alike wallpaper engine lets you change your wallpaper to a moving sky of stars.
        Usage is simple and the <a class="nav-link" href="http://www.mediafire.com/file/wceqbjbkyonrk8s/STARBG.zip/file">download</a> has a README to help you use it.
        On <a class="nav-link" href="https://github.com/darclander/starBackground">Github</a> you can find the source files and contribute if you want to.
        Download via drive.google.com might come soon.
    </p>
    <img src="https://raw.githubusercontent.com/darclander/starBackground/main/documents/screenshots/bg.gif" alt="example"  width="750" height="750" />
